html, body, figure, div, input, textarea, p, h1, h2, h3, h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hidden{
    display: none;
}
body{
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: .2rem;
}

#init__JanKenPon{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    margin-top: 30px;
}

#box__select__JanKenPon{
    display: flex;
    flex-direction: column;
}

#fig__JanKenPon{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
    
}
#img__JanKenPon{
    width: 200px;
    height: 200px;
    border: 1px dashed #132277;
    border-radius: 100%;
    
}

#bt__Play--JanKenPon{
    padding: 8px;
    width: 150px;
    font-size: 20px;
    background-color: cornflowerblue;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    letter-spacing: .2rem;
    
}
form{
    display: flex;
    flex-direction: column;
    
}
#game__select--JanKenPon{
    width: 150px;
    padding: 5px;
    margin-bottom: 5px;
    border: none;
    border-radius: 4px;
    background-color: palevioletred;
    color: white;
    font-size: 16px;
    font-family: 'DotGothic16', sans-serif;
    font-weight: bold;
    letter-spacing: .2rem;
}

#legenda__game{
    margin-bottom: 3px;
    color: #4d5db5;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#fig__Maquina, #fig__Jogador{
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}
#img__Jogador, #img__Maquina{
    width: 100px;
    height: 100px;
    
}
#img_Escolhas{
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-bottom: 5px;
}

#vencedor{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: #792dff;
    background-color: aliceblue;
    max-width: 280px;
    font-size: 20px;
}

.subtitle__Play{
    margin-bottom: 30px;
    text-align: center;
    color: brown;
}





@media screen and (min-width: 768px) {

    #fig__JanKenPon{
        width: 450px;
        height: 450px;
    }
    #img__JanKenPon{
        width: 450px;
        height: 450px;
    }
    #legenda__game{
        margin-bottom: 3px;
        font-size: 30px;
    }
    #game__select--JanKenPon{
        width: 250px;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 26px;
        font-family: 'DotGothic16', sans-serif;
        font-weight: bold;
    }
    #bt__Play--JanKenPon{
        width: 250px;
        font-size: 30px;
    }




    #fig__Maquina, #fig__Jogador{
        width: 200px;
        height: 200px;
        
    }
    #img__Jogador, #img__Maquina{
        width: 200px;
        height: 200px;
    }
    
    #vencedor{
        max-width: 380px;
        font-size: 36px;
    }
    .subtitle__Play{
        margin-bottom: 30px;
        text-align: center;
        font-size: 26px;
    }
    #img_Escolhas{
        margin-bottom: 25px;
    }
}